alias ll='ls -la --group-directories-first --color=auto'
alias vi='nvim'
alias vim='nvim'
alias sudo='sudo '
alias ..='cd ..'
alias cd..='cd ..'
alias .2='cd ../..'
alias .3='cd ../../..'
alias .4='cd ../../../..'
alias .5='cd ../../../../..'
alias nf='neofetch'
alias feh='feh -Zdxg 960x540 --scale-down --auto-zoom'
alias slowrepo='git config --add oh-my-zsh.hide-status 1 && git config --add oh-my-zsh.hide-dirty 1'
alias pentab='xsetwacom set "HID 256c:006d Pen stylus" MapToOutput HDMI-A-1'
alias getdir='pwd | xclip'
alias godir='cd "$(xclip -o)"'
